includes:
	- vendor/contributte/phpstan/phpstan.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 8
	phpVersion: 80400

	tmpDir: %currentWorkingDirectory%/var/tmp/phpstan

	fileExtensions:
		- php
		- phpt

	paths:
		- app
		- bin
		- tests

	doctrine:
		objectManagerLoader: .build/phpstan-doctrine.php
		ormRepositoryClass: App\Model\Database\Repository\AbstractRepository

	ignoreErrors:
		-
			message: '#^Property App\\Model\\Database\\Advanced\\Entity\\ArticleCategory::\$children is never written, only read\.$#'
			count: 1
			path: app/Model/Database/Advanced/Entity/ArticleCategory.php

		-
			message: '#^.*does not specify its types:.*$#'

		-
			message: '#^Variable method call on Doctrine\\ORM\\EntityManagerInterface\.$#'
			count: 1
			path: tests/cases/Database/TRepositoriesTest.php

		-
			message: '#^Method Doctrine\\Persistence\\ObjectManagerDecorator<Doctrine\\ORM\\EntityManagerInterface>::flush\(\) invoked with 1 parameter, 0 required\.$#'
			count: 1
			path: app/Presenters/BasicPresenter.php
