application:
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	subscriber.library_limiter:
		class: App\Model\Service\LibraryLimiter
		tags: [nettrine.subscriber]

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	nettrine.extensions.atlantic18: Nettrine\Extensions\Atlantic18\DI\Atlantic18BehaviorExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)

	translation: Contributte\Translation\DI\TranslationExtension

nettrine.dbal:
	connections:
		default:
			driver: pdo_pgsql
			host: %database.host%
			dbname: %database.dbname%
			user: %database.user%
			password: %database.password%
			charset:  UTF8
			serverVersion: "15"
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.extensions.atlantic18:
	loggable: true
	sluggable: true
	softDeleteable: true
	treeable: true
	timestampable: true
	translatable:
		translatable: en_GB
		default: en_GB
		translationFallback: true
		persistDefaultTranslation: true
		skipOnLoad: false

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.migrations:
	directories:
		DB\Migrations: %appDir%/../db/Migrations

nettrine.orm:
	entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator
	managers:
		default:
			connection: default
			mapping:
				Basic:
					type: attributes
					directories: [%appDir%/Model/Database/Basic/Entity]
					namespace: App\Model\Database\Basic\Entity
				Advanced:
					type: attributes
					directories: [%appDir%/Model/Database/Advanced/Entity]
					namespace: App\Model\Database\Advanced\Entity
				GedmoLoggable:
					type: attributes
					directories: [%appDir%/../vendor/gedmo/doctrine-extensions/src/Loggable/Entity]
					namespace: Gedmo\Loggable
				GedmoTranslatable:
					type: attributes
					directories: [%appDir%/../vendor/gedmo/doctrine-extensions/src/Translatable/Entity]
					namespace: Gedmo\Translatable
				GedmoTree:
					type: attributes
					directories: [%appDir%/../vendor/gedmo/doctrine-extensions/src/Tree/Entity]
					namespace: Gedmo\Tree

translation:
	locales:
		whitelist: [en_GB, cs_CZ]
		default: en_GB
		fallback: [en_GB]
	dirs:
		- %appDir%/../resources/l10n
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Parameter
		- Contributte\Translation\LocalesResolvers\Router
